<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='utf-8'/>
	<title>JustJs - The core for all your js projects.</title>
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/img/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/img/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/img/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/img/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/img/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="/img/favicon-196x196.png" sizes="196x196" />
	<link rel="icon" type="image/png" href="/img/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="/img/favicon-128x128.png" sizes="128x128" />
	<meta name="application-name" content="JustJs" />
	<meta name="msapplication-TileColor" content="#3b1154" />
	<meta name="msapplication-TileImage" content="/img/mstile-144x144.png" />
	<meta name="msapplication-square70x70logo" content="/img/mstile-70x70.png" />
	<meta name="msapplication-square150x150logo" content="/img/mstile-150x150.png" />
	<meta name="msapplication-wide310x150logo" content="/img/mstile-310x150.png" />
	<meta name="msapplication-square310x310logo" content="/img/mstile-310x310.png" />
	<meta name='viewport' content='width=device-width, initial-scale=1'/>
	<style>{% include './css/.index.css' %}</style>
</head>
<body>
	<main role='main'>
		<div id='home'>
			<div class='content-wrapper'>
				<h1>JustJs</h1>
			</div>
		</div>
	</main>
	<footer id='contentinfo' role='contentinfo'>
		<ul class='horizontal-list'>
			<li><a href='https://github.com/justjs/just' rel='noopener noreferrer'>Contribute</a></li>
			<li><a href='https://github.com/justjs/just/issues' rel='noopener noreferrer'>Report an issue</a></li>
		</ul>
		<br>
		<small>© Copyright 2022 <a href='https://github.com/AlexisPuga' rel='noopener noreferrer' target='_blank'>Alexis Puga</a> and <a href='https://github.com/justjs/just/graphs/contributors' target='_blank' rel='noopener noreferrer'>contributors</a>. <a href='https://github.com/justjs/just' target='_blank' rel='noopener noreferrer'>JustJs</a> is released under the <a href='https://github.com/justjs/just/blob/master/LICENSE' target='_blank' rel='noopener noreferrer'>BSD 3-Clause License</a>.</small>
	</footer>
</body>
</html>
