#page-header,
#page-header-opener.is-active {
	background: #3b1154;
}

#content-nav li:not(.is-active),
#page-header,
#page-header a,
#page-header h3,
.signature-attributes,
.type-signature,
.variation,
body, html {a
	color: #8c84a7;
}

a {
	color: #3b1154;
}

.prettyprint {
	background: #272342 !important;
}

#page-header-opener
#content-title,
#page-header :focus,
#page-header a:hover,
#page-header a b,
#page-header li.is-active a,
#page-title a {
	color: white;
}

#logo img {
	display: table;
	margin: auto;
	padding: 60px 0;
}