table {
    text-align: left;
    border-spacing: 0;
    width: 100%;
}

thead {
    background: #f3f3f3;
}

td, th {
    padding: .5em 2em;
}

main,
#banner {
	margin: auto;
	width: 100%;
	box-sizing: border-box;
}

main {
	max-width: 1024px;
	padding: 10em 5em;
}

#banner {
	padding: 5em;
	max-width: 1240px;
	padding-top: 13em;
	text-align: center;
	margin-top: 3em;
}

#logo {
	margin-bottom: 7em;
}

.content-wrapper > *:not(:last-child) {
	margin-bottom: 5em;
}

#banner {
	background: black;
	color: white;
} 

section {
	margin-top: 10em;
	padding: 10em 0;
	border-top: 1px solid #ededed;
}

main header {
	margin-bottom: 5rem;
}

figure {
	border-left: 1px solid #ededed;
	padding-left: 5%;
}

dt {
	font-weight: bolder;
}

caption,
figcaption {
	font-weight: bolder;
	text-align: left;
	margin-bottom: 1em;
}

code {
	background: #f3f3f3;
	padding: .25em 1em;
	display: table;
}

dl > div {
	padding: 2em 0;
}

.footnote {
	font-size: 80%;
	vertical-align: bottom;
	color: #5d6177;
}

@media all and (max-width: 1200px) {
	#banner {
		margin-top: 0;
		max-width: unset;
	}
}
