table {
    text-align: left;
    border-spacing: 0;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

.table-wrapper {
	box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

.table-wrapper > table {
	box-shadow: unset;
}

.table-wrapper caption {
	padding: 1em 2em 0 2em;
}

td, th {
    padding: .5em 2em;
}

main,
#banner {
	margin: auto;
	width: 100%;
	box-sizing: border-box;
}

main {
	max-width: 1024px;
	padding: 10em 5%;
}

#banner {
	padding: 5em 5%;
	max-width: 1240px;
	padding-top: 13em;
	padding-top: 25vh;
	text-align: center;
	margin-top: 3em;
}

#logo {
	margin-bottom: 7em;
}

.content-wrapper > *:not(:last-child) {
	margin-bottom: 2em;
}

#banner {
	background: black;
	color: white;
} 

section {
	padding: 10em 0;
	border-top: 1px solid #ededed;
}

main header {
	margin-bottom: 5em;
}

main > .content-wrapper {
	margin-bottom: 10em;
}

h3, h4 {
	margin-top: 5em;
}

figure {
	box-shadow: 0 0 5px rgba(0, 0, 0, .1);
	padding: 5%;
	display: inline-block;
	vertical-align: top;
}

dt {
	font-weight: bolder;
}

caption,
figcaption {
	font-weight: bolder;
	text-align: left;
	margin-bottom: 1em;
}

code {
	background: #f3f3f3;
	padding: .25em 1em;
	display: table;
}

.code-wrapper,
.table-wrapper {
	overflow: auto;
}

dl > div:not(:last-child) {
	padding: 2em 0;
}

dl > div:last-child {
	padding-top: 2em;
}

.footnote {
	font-size: 80%;
	vertical-align: bottom;
	color: #5d6177;
}

#installation-via-yarn {
	float: right;
}

#contentinfo {
	background: black;
	color: white;
	padding: 2em;
	text-align: center;
}

#contentinfo li {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin-right: 1em;
}

#contentinfo li::before {
	content: '• ';
}

#contentinfo a {
	color: white;
}

@media all and (max-width: 1200px) {
	#banner {
		margin-top: 0;
		max-width: unset;
	}

	#installation-via-yarn {
		float: unset;
	}
}
