* {
	border: 0;
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.5;
	font-family: sans;
	text-align: left;
}

h1, h2 {
	font-size: 200%;
}

a {
	text-decoration: unset;
	color: #8c84a7;
}

a:hover {
	text-decoration: underline;
}