@font-face {
	font-family: 'SpaceMono';
	src: url('/font/SpaceMono-Regular.ttf') format('truetype');
}

body[data-theme='light'] {
	color: black;
	background: #fbfbfb;
}

* {
	border: 0;
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.8;
	font-family: 'Courier New', 'SpaceMono', monospace;
	text-align: left;
	font-size: 125%;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, figcaption, caption, th, code { letter-spacing: unset; font-family: 'SpaceMono', 'Courier New', monospace; font-weight: bolder; }
h1, h2 { font-size: 2.25em; }
h3, h4 { font-size: 1.25em; }

dfn {
	font-family: 'SpaceMono', 'Courier New', monospace;
	font-style: normal;
}

dt {
	font-weight: bolder;
}

a {
	text-decoration: unset;
	color: #54184d;
}

a:hover {
	text-decoration: underline;
}

table {
    text-align: left;
    border-spacing: 0;
    width: 100%;
}

td, th {
    padding: .5em 2em;
}

section > header {
	margin-bottom: 10%;
}

section > header > * {
	display: inline-block;
	vertical-align: baseline;
}

h3, h4 {
	margin-top: 3em;
	margin-bottom: 1em !important;
	color: darkgoldenrod;
}

h3::before, h4::before {
	content: '[';
}

h3::after, h4::after  {
	content: ']';
}

figure {
	box-shadow: 0 0 5px rgba(0, 0, 0, .1);
	padding: 5%;
	display: inline-block;
	vertical-align: top;
}

caption,
figcaption {
	text-align: left;
	margin-bottom: 1em;
}

code {
	font-weight: normal;
	background: gold;
	color: black;
	padding: .25em 1em;
	display: table;
}

dl > div {
	margin-top: 2em;
}

pre {
	font: inherit;
}

img {
	display: table;
}
