@font-face {
	font-family: 'SpaceMono';
	src: url('/font/spacemono/SpaceMono-Regular.ttf') format('truetype');
	font-display: swap;
}

:root {
	/* Fix height for firefox on mobile */
	--vh100: 100vh;
}

* {
	border: 0;
	margin: 0;
	padding: 0;
	-webkit-boz-sizing: border-box;
	   -moz-boz-sizing: border-box;
			box-sizing: border-box;
}

body {
	line-height: 1.6;
	font-family: helvetica, arial, sans-serif;
	font-size: 100%;
	overflow-x: hidden;
	margin: auto;
	background: white;
	color: black;
}

a {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: underline;
}

figcaption {
	font-weight: bold;
	text-transform: uppercase;
}

dt {
	font-weight: bold;
	margin-top: 1em;
}

main {
	min-height: 100%;
}

footer[role='contentinfo'] {
	background: #54184d;
	color: white;
	padding: 2em;
}

footer[role='contentinfo'] .content-wrapper {
	padding: 2em 0;
}

.horizontal-list li {
	display: inline-block;
	vertical-align: middle;
}

.horizontal-list li:not(:first-child) {
	margin-left: 2em;
}

/* Specific styles: */

#home {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
}

#home > * {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	padding: 2em;
	overflow-y: auto;
	position: relative;
}

#setup {
	/* Based on jsdoc-template's colors. */
	background: #f3f3f3;
	color: #1f1e26;
}

#usage {
	/* Based on jsdoc-template's colors. */
	background: #181826;
	color: white;
}

#home header {
	position: absolute;
	top: 0;
	right: 0;
	padding: 2em;
}

#banner {
	text-align: center;
}

#logo {
	line-height: 1;
	font-size: 1.5em;
	text-transform: uppercase;
}

[data-text='just'] {
	letter-spacing: 5px;
	margin-right: -30px;
}

[data-text='js'] {
	display: block;
	font-size: 4em;
}

.prettyprint {
	width: 100%;
	padding: 2em;
	overflow-x: auto;
	white-space: nowrap;
}

code {
	font-family: 'SpaceMono', monospace;
}

a[role='button'] {
	padding: .5em 1em;
	background: #54184d;
	color: white;
}

#floating-button {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 2em;
	z-index: 999;
}

#github-link {
	position: absolute;
	top: 0;
	right: 0;
	margin: 2em;
}

[hidden] {
	display: none;
}

:not(#banner) > .content-wrapper {
	max-width: 720px;
	margin: auto;
}

/**
 * Large screens:
 * Show 3 splitted sections.
 */
@media all and (min-width: 1520px) {

	html,
	body,
	main {
		height: 100%;
		width: 100%;
	}

	footer[role='contentinfo'] {
		text-align: center;
	}

}

/**
 * Medium screens:
 * Show 2 splitted sections.
 */
@media all and (max-width: 1520px) and (min-width: 920px) {

	#home {
		display: block;
		position: relative;
	}

	#home > * {
		display: inline-block;
		padding: 0;
	}

	#banner {
		margin: auto;
	}

	#banner,
	#setup {
		height: 100vh;
		height: var(--vh100);
		width: 50%;
	}

	#usage {
		width: 100%;
		padding: 2em;
	}

	#banner .content-wrapper,
	#setup .content-wrapper {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		padding: 2em;
	}

	#usage header {
		position: relative;
		padding: 0;
		text-align: right;
	}

	#usage .content-wrapper {
		padding: 2em 0;
	}

}

/**
 * Small screens:
 * Show each section as a block.
 */
@media all and (max-width: 920px) {

	#home > * {
		display: block;
		height: auto;
	}

	#banner {
		height: 100vh;
		height: var(--vh100);
		padding: 0;
	}

	#banner .content-wrapper {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
	}

	#home header {
		position: relative;
		padding: 0;
		text-align: right;
	}

	#setup .content-wrapper,
	#usage .content-wrapper {
		padding: 2em 0;
	}

	footer[role='contentinfo'] {
		/* Add extra padding to prevent #floating-button from overlapping. */
		padding-bottom: 6em;
	}

}
