html, body, main {
	width: 100%;
	height: 100%;
	position: relative;
}

body {
	display: table;
	text-align: center;
}

main {
	display: table-cell;
	vertical-align: middle;
	padding: 5%;
}

main > header {
	padding-bottom: 5%;
}

#instructions {
	border-top: 2px solid #ededed;
}

#instructions p {
	font-weight: bolder;
}

#instructions > * {
	text-align: left;
}

.nav-section {
	display: inline-block;
	vertical-align: top;
	padding: 5%;
}

@media all and (max-width: 1024px) {
	main {
		padding: 2em;
	}

	.nav-section {
		display: block;
		padding: 2em 0;
	}

	.nav-section li {
		display: inline-block;
		vertical-align: middle;
	}

	.nav-section li:not(:last-child) {
		margin-right: 1em;
	}
}