a {
	color: #54184d;
}

#logo img {
	display: table;
	margin: auto;
	padding: 60px 0;
}

td.description {
	min-width: 20em;
}

@media all and (max-width: 767px) {
	h1, h2 {
		font-size: 150%;
		margin-bottom: 1em;
	}

	.signature {
		font-size: 1rem;
	}
}