a {
	color: #54184d;
}

#logo {
	padding: 60px 0;
}

#logo a {
	display: table;
	margin: auto;
}

#versions {
	margin-left: auto;
	display: table;
	color: white;
	background: rgba(127, 127, 137, .2);
	padding: .5em;
}

#versions:hover,
#versions:focus {
	background: rgba(127, 127, 137, .3);
}

td.description {
	min-width: 20em;
}

@media all and (max-width: 767px) {
	h1, h2 {
		font-size: 150%;
		margin-bottom: 1em;
	}

	.signature {
		font-size: 1rem;
	}
}